{# app/Resources/views/lucky/number.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Lucky Number{% endblock %}
{% block body %}
  <h1>မင်းရဲ့ lucky number ကတော့ {{ number }} ပဲကွာ။</h1>
{% endblock %}
