{# app/Resources/views/lucky/number.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Lucky Number{% endblock %}
{% block body %}
  <h1>သင်၏ lucky number မှာ {{ number }} ဖြစ်သည်။</h1>
{% endblock %}
